<h1>Edit <%= @landmark.name %></h1>

<form action="/landmarks/<%= @landmark.id %>" method="POST">
  <label>Edit Name and Year Completed:</label>

  <br></br>

  <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>">
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>">

  <input type="submit" value="Edit Landmark">
</form>
